<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrokerBudget.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BrokerBudget.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body class="bg-black">


            <div style="display:flex; align-items: center;">
                <nav class="navbar navbar-expand-sm navbar-dark bg-black">
                    <ul class="navbar-nav ml-auto ">
                    <li class="nav-item mb-1">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">
                            <div class="icon-wrapper">
                                <i class="fa-solid fa-bars"></i>
                            </div>
                            <div class="name-wrapper">
                                Asosiy Menyu
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a asp-controller="Contract" asp-action="GetAllContracts" class="nav-link">
                            <div class="icon-wrapper">
                                <i class="fa-solid fa-file-signature"></i>
                            </div>
                            <div class="name-wrapper">
                                Tovarlar
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a asp-controller="HomeBuilding" asp-action="GetAllHomes" class="nav-link">
                            <div class="icon-wrapper">
                                <i class="fa-solid fa-building"></i>
                            </div>
                            <div class="name-wrapper">
                                Olingan Tovarlar
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a asp-controller="Customer" asp-action="GetAllCustomers" class="nav-link">
                            <div class="icon-wrapper">
                                <i class="fa-solid fa-address-card"></i>
                            </div>
                            <div class="name-wrapper">
                                Sotilgan Tovarlar
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a asp-controller="HomeBuilding" asp-action="GetAllHomes" class="nav-link">
                            <div class="icon-wrapper">
                                <i class="fa-solid fa-building"></i>
                            </div>
                            <div class="name-wrapper">
                                Tovar Beruvchilar
                            </div>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a asp-controller="Customer" asp-action="GetAllCustomers" class="nav-link">
                            <div class="icon-wrapper">
                                <i class="fa-solid fa-address-card"></i>
                            </div>
                            <div class="name-wrapper">
                                Tovar Oluvchilar
                            </div>
                        </a>
                    </li>
                    </ul>
                </nav>

            <div style="display:flex; align-items:center; justify-content:space-between;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <partial name="_LoginPartial" class="nav-link" />
                    </li>
                </ul>
            </div>

            </div>







    <div class="body-faza pb-5">
        <div class="body-container">
            <main role="main" class="pb-3 main-container">
                @RenderBody()
            </main>
        </div>
    </div>

    <div class="container" style="padding-top:20px;">
        <footer id="main-footer" class="border-top footer text-muted bg-black footer-content">
            <div class="">
                <p>
                    Game Store
                </p>
            </div>
            <div class="">
                <p>
                    Copyright &copy;
                    <span id="year"></span>
                </p>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>$('#year').text(new Date().getFullYear());</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
