@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">

    <div class="d-flex align-items-center justify-content-center" id="main">
        <img src="/City1.jpg" height="600px" />
    </div>

    <div class="button-container">
        <a asp-controller="Report" asp-action="GetStatistics" class="btn btn-dark custom-btn">
            <i class="fa-solid fa-play"></i> Statistika
        </a>

            <a asp-controller="Product" asp-action="GetAllProducts" class="nav-link">
                <div class="name-wrapper">
                    Товарлар
                </div>
            </a>
            <a asp-controller="ProductGiver" asp-action="GetAllProductGivers" class="nav-link">
                <div class="name-wrapper">
                    Товар берувчилар
                </div>
            </a>
            <a asp-controller="ProductTaker" asp-action="GetAllProductTakers" class="nav-link">
                <div class="name-wrapper">
                    Товар олувчилар
                </div>
            </a>
    </div>

</div>

<style>
    .button-container {
        margin-top: 20px;
    }

    .custom-btn {
        color: black;
        background-color: white;
    }
</style>