html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

.logoStyle {
    margin-top:20px;
    width:80%;
    height:50%;
}

.navbar-container {
    @media(max-width: 431px){
        display:block;
        place-content:center;
    }
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: fixed;
    padding: 0px 90px 0px 50px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: black;
}

.body-faza{

}

.body-container {
    @media(max-width:431px){
        margin-top:220px;
    }
    
    background-color: white;
    margin-top: 75px;
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: center;
}
.main-container {
    width:100%;
    @media(max-width:431px) {
        width:400px;
        padding: 0px 3px 0px 3x;
    }
}
.tool-bar {
    margin-bottom:10px;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media(max-width:431px) {
        justify-content: start;
        gap:90px;
    }
}
.tool-bar2 {
    display: flex;
    justify-content: space-between;
    gap: 170px;
    margin-bottom:10px;
    margin-top:10px;
    @media(max-width:431px) {
        justify-content: start;
        gap:40px;
    }
}

.tool-bar3 {
    display: flex;
    justify-content: space-between;
    margin-bottom:5px;
    margin-top:5px;
}

.searchInput-style {
    max-width: 200px;

    @media(max-width:431px) {
        max-width: 100px;
    }
}

.sortInput-style {
    max-width: 200px;

    @media(max-width:431px) {
        max-width: 100px;
    }
}

.extendedSearchInput-style {
    max-width: 250px;

    @media(max-width:431px) {
        max-width: 200px;
    }
}

.bigTableContainer {
    height: 100%;
    width:100%;
}

.rowContainer{
    width:100%;
}

.columnName {
    width:5%;
}
.input-block {
    @media(max-width:431px) {
        display:grid;
        flex-wrap:wrap;
        width:50%;
    }
}
.create-form{
    @media(max-width:431px){
     width:200px;   
     display:flex;
     justify-content:start;
     flex-direction:column;
     padding:0px;
    }
}

.header-text {
    display:flex;
    justify-content:center;

    @media(max-width:431px) {
        padding-left:150px;
        display:flex;
        justify-content:start;
    }
}